@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$font-primary: 'Open Sans';
$font-secondary: 'Montserrat';

$black: #000000;
$white: #ffffff;
$inactive: #8F8F8F;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-weight: 400;
  color: $black;
}

.disabled_link {
  cursor: default;
  pointer-events: none;
  color: $black !important;
}

// HEADER
.header {
  width: 100%;
  height: 96px;
  
  .header_content {
    padding: 38px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_logo {
      font-family: $font-primary;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      text-decoration: none;
      color: $black;
    }

    .header_navigation {
      margin: auto 0;

      .header_navigation_list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        .header_navigation_item {
          margin-left: 48px;

          .header_navigation_link {
            font-family: $font-primary;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.04em;
            text-decoration: none;
            color: $inactive;
            transition: ease 0.2s;

            &:hover {
              color: $black;
              transition: ease 0.2s;
            }
            &:active {
              color: $black;
            }
          }
        }
      }
    }
  }
}

// MAIN PAGE
.intro {
  width: 100%;
  margin-top: 145px;

  .intro_title {
    margin: 0 210px;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 57px;
    letter-spacing: 0.08em;
    opacity: 0;
    animation: Fading .5s linear 1 normal forwards;
  }
}

.projects {
  margin: 185px 120px 0 120px;
  
  .project_link_wrapper {
    display: block;
    position: relative;
    text-decoration: none;
    
    .project {
      width: 100%;
      height: 782px;
      transition: all .25s ease;
    }

    .project_title {
      position: absolute;
      bottom: 0;
      left: 90px;
      font-family: $font-secondary;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 57px;
      color: $white;
      opacity: 0;
      transition: all .2s ease;
    }

    .project_comingsoon_alert {
      position: absolute;
      bottom: 0;
      left: 90px;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: $white;
      opacity: 0;
    }

    &:hover .project {
      filter: brightness(35%);
      transition: all .2s ease;
      -webkit-filter: brightness(35%);
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -ms-transition: all .2s ease;
    }
    &:hover .project_title {
      opacity: 1;
      bottom: 80px;
      transition: all .2s ease;
    }
    &:hover .project_comingsoon_alert {
      opacity: 1;
      bottom: 80px;
      transition: all .2s ease;
    }
  }

  .project_FilmOn {
    background: #222222 url('./assets/images/filmonx3.png') no-repeat center;
    background-size: 40%;
  }
  .project_ArdyLightStudio {
    background: #B2B2B2 url('./assets/images/ardy-lightx2.png') no-repeat center;
    background-size: 80%;
  }
  .project_Architecture {
    background: #EFEFF4 url('./assets/images/architecturex3.png') no-repeat center;
    background-size: 50%;
  }
  .project_PandaBeautySalon {
    background: #E6E4DD url('./assets/images/panda-beautyx2.png') no-repeat center;
    background-size: 90%;
  }
  .project_ZipMarket {
    background-color: #EFEFF4;
    background: #EFEFF4 url('./assets/images/zip-marketx2.png') no-repeat center;
    background-size: cover;
  }
}

// ABOUT PAGE
.about_intro {
  display: flex;
  justify-content: center;
  margin: 170px 0 0 0;

  .about_info {
    width: 610px;
    display: flex;
    flex-direction: column;

    .intro_title {
      margin: 0 0 55px 0;
    }

    .intro_text {
      width: 100%;
      margin: 0 0 30px 0;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.04em;
      color: $black;
      animation: Fading .5s linear 1 normal forwards;
    }

    .intro_view_resume {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 50px;
      margin-top: 30px;
      text-align: center;

      border: 2px solid $black;

      font-family: $font-primary;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 16px;
      letter-spacing: 0.04em;
      color: $black;
      transition: all .25s ease;

      &:hover {
        background-color: $black;
        color: $white;
        transition: all .25s ease;
      }
    }
  }

  .intro_pic {
    width: 500px;
    height: 600px;
    margin: -80px 0 0 70px;
  }
}

.footer {
  width: 100%;
  height: 500px;
  
  .footer_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer_title {
    margin-top: 200px;
    margin-bottom: 0;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: $black;
  }
  .footer_social {
    display: flex;
    justify-content: center;
    margin: 48px 0;
    padding: 0;
    list-style: none;

    .footer_social_item {
      margin-left: 63px;

      &:first-child {
        margin-left: 0;
      }
    }
    .footer_social_link {
      font-family: $font-primary;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-decoration: none;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: $inactive;
      transition: ease .2s;

      &:hover {
        color: $black;
        transition: ease .2s;
      }
    }
  }
}


// FILMON
.page_filmon {
  background-color: #222222;

  .header {
    .header_content {
      .header_logo {
        color: $white;
      }
      .header_navigation_item {
        .header_navigation_link {
          color: $inactive;    

          &:hover {
            color: $white !important;
          }
        }
        .nav_active {
          color: $white !important;
          pointer-events: none;
        }
      }
    }
  }

  .intro_picture {
    width: 100%;
    height: 700px;
    background: url('/assets/images/filmon/image116.png') no-repeat center;
    background-size: cover;
  }
  .filmon_intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 107px;
    color: $white;
    
    .intro_title {
      line-height: 50px;
      letter-spacing: 0;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
    }

    .intro_text {
      margin: 48px 210px 108px 210px;
      font-size: 18px;
      font-weight: 400;
      opacity: 0.8;
      line-height: 22px;
    }
  }
  
  .workflow {
    width: 1340px;
    margin: 0 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;

    .workflow_process {
      display: flex;
      align-self: center;
      width: 100%;
    }
    
  }
  .projects_navigation {
    width: 100%;
    
    .projects_list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;

      .projects_item {
        margin-left: 72px;

        &:first-child {
          margin-left: 0;
        }

        .project_link {
          font-family: $font-primary;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          text-decoration: none;
          line-height: 17px;
          letter-spacing: 0.03em;
          color: $inactive;
          transition: ease .2s;

          &:hover {
            color: $white;
          }
        }
        .project_link_active {
          color: $white;
          pointer-events: none;
        }
      }
    }
  }

  .footer {
    .footer_content {
      .footer_title {
        color: $white;
      }
      .footer_social_link {
        &:hover {
          color: $white;
        }
      }
    }
  }
}

//PANDA
.page_panda {
  background-color: $white;

  .nav_active {
    color: $black !important;
    pointer-events: none;
  }

  .intro_picture {
    width: 100%;
    height: 700px;
    background: url('/assets/images/panda/intro.png') no-repeat center;
    background-size: cover;
  }

  .workflow {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .work_wrapper {
      display: flex;
      position: relative;
      justify-content: center;

      .background_diff {
        position: absolute;
        display: block;
        width: 100%;
        height: 935px;
        top: 436px;
        z-index: -1;
        background-color: #E3DED3;
      }

      &:last-child {
        background-color: #E6E4DD;
      }

      .workflow_process {
        width: 1300px;
        height: auto;
        align-self: center;
  
        &:first-child {
          width: 1147px;
        }
        &:last-child {
          width: 1247px;
        }
      }
    }
  }

  .projects_navigation {
    width: 100%;
    margin-top: 120px;

    .projects_list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;

      .projects_item {
        margin-left: 72px;

        &:first-child {
          margin-left: 0;
        }

        .project_link {
          font-family: $font-primary;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          text-decoration: none;
          line-height: 17px;
          letter-spacing: 0.03em;
          color: $inactive;
          transition: ease .2s;

          &:hover {
            color: $black;
          }
        }
        .project_link_active {
          color: $black;
          pointer-events: none;
        }
      }
    }
  }
}

//ARDY LIGHT
.ardy_light {

  .intro_picture {
    width: 1360px;
    height: 744px;
    margin: 0 auto;
    background: url('/assets/images/ardy/intro.png') no-repeat center;
    background-size: cover;
  }

  .workflow {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .work_wrapper {
      display: flex;
      justify-content: center;
      .workflow_process {
        width: 1360px;
        height: auto;
      }
    }
  }

  .projects_navigation {
    width: 100%;
    margin-top: 120px;

    .projects_list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;

      .projects_item {
        margin-left: 72px;

        &:first-child {
          margin-left: 0;
        }

        .project_link {
          font-family: $font-primary;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          text-decoration: none;
          line-height: 17px;
          letter-spacing: 0.03em;
          color: $inactive;
          transition: ease .2s;

          &:hover {
            color: $black;
          }
        }
        .project_link_active {
          color: $black;
          pointer-events: none;
        }
      }
    }
  }

}

//ARCHITECTURE
.architecture {
  background-color: #efeff4;

  .intro {
    display: flex;
    flex-direction: column;
    margin: 0;

    .intro_picture {
      width: 100%;
      height: 696px;
      background: url('/assets/images/architecture/intro.png') no-repeat center;
      background-size: cover;
    }

    .intro_about {
      display: flex;
      flex-direction: row;
      background-color: $white;

      .intro_info {
        margin-left: 210px;

        .info_title {
          margin: 107px 0 48px 0;
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 103.34%;
          color: $black;
        }

        .info_description {
          margin: 0;
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 140%;
          color: #000000;
        }
      }
      .intro_goals {
        margin-right: 210px;
        margin: 220px 210px 80px 0;

        .goals_title {
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 140%;
          color: #000000;
        }
        .goals_list {

          .goal {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            color: #000000;
          }
        }
      }
    }
  }
  .workflow {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .work_wrapper  {
      display: flex;
      justify-content: center;

      .workflow_process {
        width: 1340px;
        height: auto;
      }
    }
  }
  .projects_navigation {
    width: 100%;
    margin-top: 120px;

    .projects_list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;

      .projects_item {
        margin-left: 72px;

        &:first-child {
          margin-left: 0;
        }

        .project_link {
          font-family: $font-primary;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          text-decoration: none;
          line-height: 17px;
          letter-spacing: 0.03em;
          color: $inactive;
          transition: ease .2s;

          &:hover {
            color: $black;
          }
        }
        .project_link_active {
          color: $black;
          pointer-events: none;
        }
      }
    }
  }
}


@keyframes Fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}