@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 400;
  color: #000000;
}

.disabled_link {
  cursor: default;
  pointer-events: none;
  color: #000000 !important;
}

.header {
  width: 100%;
  height: 96px;
}
.header .header_content {
  padding: 38px 120px;
  display: flex;
  justify-content: space-between;
}
.header .header_content .header_logo {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.header .header_content .header_navigation {
  margin: auto 0;
}
.header .header_content .header_navigation .header_navigation_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .header_content .header_navigation .header_navigation_list .header_navigation_item {
  margin-left: 48px;
}
.header .header_content .header_navigation .header_navigation_list .header_navigation_item .header_navigation_link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #8F8F8F;
  transition: ease 0.2s;
}
.header .header_content .header_navigation .header_navigation_list .header_navigation_item .header_navigation_link:hover {
  color: #000000;
  transition: ease 0.2s;
}
.header .header_content .header_navigation .header_navigation_list .header_navigation_item .header_navigation_link:active {
  color: #000000;
}

.intro {
  width: 100%;
  margin-top: 145px;
}
.intro .intro_title {
  margin: 0 210px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 57px;
  letter-spacing: 0.08em;
}

.projects {
  margin: 185px 120px 0 120px;
}
.projects .project_link_wrapper {
  display: block;
  position: relative;
  text-decoration: none;
}
.projects .project_link_wrapper .project {
  width: 100%;
  height: 782px;
  transition: all 0.25s ease;
}
.projects .project_link_wrapper .project_title {
  position: absolute;
  bottom: 0;
  left: 90px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 57px;
  color: #ffffff;
  opacity: 0;
  transition: all 0.2s ease;
}
.projects .project_link_wrapper .project_comingsoon_alert {
  position: absolute;
  bottom: 0;
  left: 90px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  opacity: 0;
}
.projects .project_link_wrapper:hover .project {
  filter: brightness(69%);
  transition: all 0.2s ease;
  -webkit-filter: brightness(69%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}
.projects .project_link_wrapper:hover .project_title {
  opacity: 1;
  bottom: 80px;
  transition: all 0.2s ease;
}
.projects .project_link_wrapper:hover .project_comingsoon_alert {
  opacity: 1;
  bottom: 80px;
  transition: all 0.2s ease;
}
.projects .project_FilmOn {
  background: #222222 url("./assets/images/filmonx3.png") no-repeat center;
  background-size: 40%;
}
.projects .project_ArdyLightStudio {
  background: #B2B2B2 url("./assets/images/ardy-lightx2.png") no-repeat center;
  background-size: 80%;
}
.projects .project_Architecture {
  background: #EFEFF4 url("./assets/images/architecturex3.png") no-repeat center;
  background-size: 50%;
}
.projects .project_PandaBeautySalon {
  background: #E6E4DD url("./assets/images/panda-beautyx2.png") no-repeat center;
  background-size: 90%;
}
.projects .project_ZipMarket {
  background-color: #EFEFF4;
  background: #EFEFF4 url("./assets/images/zip-marketx2.png") no-repeat center;
  background-size: cover;
}

.about_intro {
  display: flex;
  margin: 170px 0 0 0;
  padding: 0 210px 0 210px;
}
.about_intro .about_info {
  width: 610px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
}
.about_intro .about_info .intro_title {
  margin: 0 0 55px 0;
}
.about_intro .about_info .intro_text {
  margin: 0 0 30px 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #000000;
}
.about_intro .about_info .intro_view_resume {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  text-align: center;
  border: 2px solid #000000;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #000000;
  transition: all 0.25s ease;
}
.about_intro .about_info .intro_view_resume:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.25s ease;
}
.about_intro .intro_pic {
  margin: -90px 0 0 70px;
}

.footer {
  width: 100%;
  height: 500px;
}
.footer .footer_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer .footer_title {
  margin-top: 200px;
  margin-bottom: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
}
.footer .footer_social {
  display: flex;
  justify-content: center;
  margin: 48px 0;
  padding: 0;
  list-style: none;
}
.footer .footer_social .footer_social_item {
  margin-left: 63px;
}
.footer .footer_social .footer_social_item:first-child {
  margin-left: 0;
}
.footer .footer_social .footer_social_link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #8F8F8F;
  transition: ease 0.2s;
}
.footer .footer_social .footer_social_link:hover {
  color: #000000;
  transition: ease 0.2s;
}

/*# sourceMappingURL=styles.css.map */
